{% import "sugerencias.html.twig" as sugerencias %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PoliCloud{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/global.css') }}">
    {% endblock %}
</head>

<body>
    <header class="h-base container-fluid mb-0">
        <div class="container">
            <div class="row">
                <div class="col-2 text-start">
                    <div class="row d-flex align-items-center">
                        <div class="col-6">
                            <a href="{{ path('app_inicio') }}" id="prueba"
                                class="prueba text-primary text-decoration-none">PoliCloud</a>
                        </div>
                        <div class="col-6">
                            <!-- Button trigger modal BUSCAR -->
                            <button type="button" class="btn d-flex align-items-center btn-header"
                                data-bs-toggle="modal" data-bs-target="#modalBuscar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </button>
                            <!-- Modal BUSCAR -->
                            <div class="modal fade" id="modalBuscar" tabindex="-1" aria-labelledby="modalBuscarLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content border border-primary">
                                        <div class="modal-body">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control"
                                                    placeholder="Recipient's username" aria-label="Recipient's username"
                                                    aria-describedby="button-addon2">
                                                <button class="btn btn-outline-primary" type="button"
                                                    id="button-addon2">Button</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-8">
                    <div class="row justify-content-center">
                        <div class="col-2 text-end">
                            <a id="pointImagen" class="point-imagen link-secondary">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="bi bi-circle-fill dots-size" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </a>
                        </div>
                        <div class="col-2 text-center">
                            <a id="pointMusica" class="point-musica link-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-circle-fill dots-size" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </a>
                        </div>
                        <div class="col-2 text-start">
                            <a id="pointVideo" class="point-video link-light">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-circle-fill dots-size" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-2 flex_end">
                    {% if not is_granted('ROLE_RESIDENTE') %}
                    <!-- Button trigger modal LOGIN -->
                    <a type="button" class="btn d-flex justify-content-center btn-header" data-bs-toggle="modal"
                        data-bs-target="#modalLogin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                            <path fill-rule="evenodd"
                                d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                        </svg>
                    </a>

                    <!-- Modal LOGIN -->
                    <div class="modal fade mt-5" id="modalLogin" tabindex="-1" aria-labelledby="modalLoginLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content border border-primary">
                                <div class="modal-header">
                                    <h5 class="modal-title text-primary">PoliCloud</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-black">Inicia sesión con tu cuenta o <a
                                            href="{{ path('app_singin') }}" class="text-primary">Regístrate</a></p>
                                    <form action="{{ path('app_login') }}" method="post" class="text-center">
                                        <input type="text" class="form-control mb-1" placeholder="Correo electrónico"
                                            aria-label="Escribe tu correo electrónico" aria-describedby="button-addon2"
                                            name="_username">
                                        <input type="password" class="form-control mb-3" placeholder="Contraseña"
                                            aria-label="Escribe tu contraseña" aria-describedby="button-addon2"
                                            name="_password">
                                        <div class="flex_end">
                                            <button class="btn btn-outline-primary" type="submit"
                                                id="button-addon2">Entrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    {% if imagen == 0 %} {# Parte de IF en desuso, ahora es obligatorio tener foto de perfil #}
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                    </svg>
                    {% else %}
                    <img src="data:image/jpg;base64,{{ imagen }}" alt="mdo" width="28" height="28"
                        class="rounded-circle">
                    {% endif %}
                    <div class="dropdown d-flex align-items-center">
                        <a class="dropdown-toggle text-decoration-none ms-2 me-3" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ apodo }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li> <a type="button" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target="#modalSubirImagen">
                                    Publicar contenido
                                </a></li>
                            <li><a class="dropdown-item" href="#">Ajustes</a></li>
                            <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                        </ul>
                    </div>
                    <a href="{{ path('app_logout') }}" type="button" class="btn d-flex align-items-center btn-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z" />
                            <path fill-rule="evenodd"
                                d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                        </svg>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </header>

    <main class="b-base">
        <div class="container bg-white py-3">
            {% block cuerpo %}{% endblock %}
            {#
                Esto es porque si se visualiza un contenido del usuario logeado no aparece la foto de este usuario en la publicación
                entonces para que se visualice se envía desde aquí ya que está cargado para el header :)
            #}
            
            
            {% if is_granted('ROLE_RESIDENTE') %}
                {% if likes %}
                    {{ sugerencias.sugerencias(imagen, likes, id) }}
                {# {% else %}
                    {% set likes = 0 %}
                    {{ sugerencias.sugerencias(imagen, likes) }} #}
                        {# {{ dump(likes[0]) }}
                        {{ dump(likes[1]) }} #}
                {% endif %}
            {% else %}
                {{ sugerencias.sugerencias }}
            {% endif %}
        </div>
    </main>

    <footer class="f-base bg-white container mb-0">
        <hr class="m-0 mb-3">
        <div class="row">
            <div class="col text-center">
                PoliCloud (Proyecto TFG) - Javier Prima Margiotta
            </div>
        </div>
    </footer>


    {% if is_granted('ROLE_RESIDENTE') %}
    <!-- LATERAL CANVAS -->
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Panel de control</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h3> {% if imagen == 10 %}
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                {% else %}
                <img src="data:image/jpg;base64,{{ imagen }}" alt="mdo" width="50" height="50" class="rounded-circle">
                {% endif %}{{ apodo }}
            </h3>
            <p class="text-muted">Echa un vistazo a tu perfil</p>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalSubirImagen">
                Subir imágen
            </button>
        </div>
    </div>
    <!-- FIN LATERAL CANVAS AHORA PARA PRUEBAS (DESUSO) -->

    <!-- MODAL SUBIR IMAGEN -->
    <div class="modal fade" id="modalSubirImagen" tabindex="-1" aria-labelledby="modalSubirImagenLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalSubirImagenLabel">Publicar contenido</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    <p class="text-muted">Escoge el contenido que quieras compartir y dale una categoría y una descripción.</p>
                    {% if not formato_portada_valido %}<p><span class="text-primary fsize-15">* La portada debe de ser .jpg</span></p>{% endif %}
                    {% if not formato_archivo_valido %}<p><span class="text-primary fsize-15">* La publicación debe de ser .jpg, .mp3 o .mp4</span></p>{% endif %}
                    <div class="row">
                        <div class="col-6">
                            <p class="mb-1">
                                <span class="text-primary" title="Dimesiones recomendadas: 300x300px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                    </svg>
                                </span>
                                Portada <span class="text-muted fsize-15">(en .jpg)</span>:</p>
                            <div class="input-group mb-3">
                                {{ form_widget(form.portada, { 'attr': { 'type':'file', 'class':'mb-2 form-control',
                                'id':'inputGroupFile01' }}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="mb-1">
                                Publicación
                                <span class="text-muted fsize-15">(en .jpg, .mp3 o .mp4)</span>:</p>
                            <div class="input-group mb-3">
                                {{ form_widget(form.archivo, { 'attr': { 'type':'file', 'class':'mb-2 form-control',
                                'id':'inputGroupFile01' }}) }}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="input-group mb-3">
                                {{ form_widget(form.nombre, { 'attr': { 'class':'mb-2 form-control',
                                'placeholder':'Nombre de la publicación' }}) }}
                            </div>
                        </div>
                         <div class="col-6">
                            <div class="input-group mb-3">
                                {{ form_widget(form.categoria, { 'attr': { 'class':'mb-2 form-control',
                                'placeholder':'Categoría' }}) }}
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="input-group">
                                {{ form_widget(form.descripcion, { 'attr': { 'class':'mb-2 form-control',
                                'placeholder':'Agrega una descripción...' }}) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-primary">Guardar</button> -->
                    {{ form_widget(form.submit, { 'attr': { 'class':'mb-2 btn btn-primary' }}) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <!-- FIN MODAL SUBIR IMAGEN -->
    {% endif %}

    {% block javascripts %}
    <script type="text/javascript" src="{{ asset('lib/jquery-3.6.0.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    {# <script src="{{ asset('/scripts/funciones.js') }}"></script> #}
    {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>