{% extends 'base.html.twig' %}
{% block cuerpo %}

<div class="row">
    <div class="col-12">
        <div class="row my-1">
            <div class="col-4 m-0">
                <div class="card bg-dark text-primary border-1 border-primary mx-1">
                    {# <a href="{{ path('app_imagen') }}"> #}
                        <img src="{{ asset('img/imagen/imagen_banner.jpg') }}" class="card-img cards-inicio w-100 h-100"
                            alt="Imágen">
                        <div class="card-img-overlay d-flex align-items-start bg-primary-opacity-banner">
                            <h5 class="card-title text-center w-100 fw-bolder mt-5">IMAGEN</h5>
                        </div>
                        {#
                    </a> #}
                </div>
            </div>
            <div class="col-4 m-0">
                <div class="card bg-dark text-primary border-1 border-primary mx-1 h-100">
                    {# <a href="{{ path('app_musica') }}"> #}
                        <img src="{{ asset('img/imagen/imagen_banner.jpg') }}"
                            class="card-img cards-inicio w-100 h-100" alt="Música">
                        <div class="card-img-overlay d-flex align-items-start bg-primary-opacity-banner">
                            <h5 class="card-title text-center w-100 fw-bolder mt-5">MÚSICA</h5>
                        </div>
                        {#
                    </a> #}
                </div>
            </div>
            <div class="col-4 m-0">
                <div class="card bg-dark text-primary border-1 border-primary mx-1">
                    {# <a href="{{ path('app_video') }}"> #}
                        <img src="{{ asset('img/imagen/imagen_banner.jpg') }}" class="card-img cards-inicio w-100 h-100"
                            alt="Vídeo">
                        <div class="card-img-overlay d-flex align-items-start bg-primary-opacity-banner">
                            <h5 class="card-title text-center w-100 fw-bolder mt-5">VÍDEO</h5>
                        </div>
                        {#
                    </a> #}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}