{% extends 'base.html.twig' %}
{% block cuerpo %}

<div class="row d-flex justify-content-center singin">
    <div class="col-6 ms-2 border rounded border-primary p-2">
        <div class="row">
            <div class="col justify-content-start">
                {{ form_start(form) }}
                {{ form_widget(form.email, { 'attr': { 'class':'mb-2 form-control', 'placeholder':'Correo electrónico' }}) }}
                {{ form_widget(form.password, { 'attr': { 'class':'mb-2 form-control', 'placeholder':'Contraseña' }}) }}
                {{ form_widget(form.password2, { 'attr': { 'class':'mb-2 form-control', 'placeholder':'Repite la contraseña' }}) }}
                {{ form_widget(form.imagen, { 'attr': { 'type':'file', 'class':'mb-2 form-control', 'id':'inputGroupFile01' }}) }}
                {{ form_widget(form.submit, { 'attr': { 'class':'mb-2 btn btn-primary' }}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<!-- DESTACADOS -->
<div class="row px-0 ">
    <div class="col mt-5">
        <p><span class="h4 ms-1 me-3">Destacados</span>Lo último en PoliCloud</p>
        <div class="row text-center">
            <div class="col-4 px-5">
                <div class="mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        class="height-20 bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8" />
                    </svg>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/video/modelo_astro.gif') }}"
                                        class="img-fluid rounded-start" alt="Video destacado 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 text-start">
                                        <p class="fsize-15 mb-0 ms-2">NomArtista 
                                        <p class="fsize-15 mb-0 ms-2">NomCanción</p>
                                        <p class="fsize-15 mb-0 me-2 text-end text-muted">15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 px-5">
                <div class="mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        class="height-20 bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8" />
                    </svg>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/video/modelo_astro.gif') }}"
                                        class="img-fluid rounded-start" alt="Video destacado 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 text-start">
                                        <p class="fsize-15 mb-0 ms-2">NomArtista 
                                        <p class="fsize-15 mb-0 ms-2">NomCanción</p>
                                        <p class="fsize-15 mb-0 me-2 text-end text-muted">15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 px-5">
                <div class="mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        class="height-20 bi bi-circle-fill text-primary" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8" />
                    </svg>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/video/modelo_astro.gif') }}"
                                        class="img-fluid rounded-start" alt="Video destacado 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 text-start">
                                        <p class="fsize-15 mb-0 ms-2">NomArtista 
                                        <p class="fsize-15 mb-0 ms-2">NomCanción</p>
                                        <p class="fsize-15 mb-0 me-2 text-end text-muted">15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4 px-5">
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/video/modelo_astro.gif') }}"
                                        class="img-fluid rounded-start" alt="Video destacado 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 text-start">
                                        <p class="fsize-15 mb-0 ms-2">NomArtista 
                                        <p class="fsize-15 mb-0 ms-2">NomCanción</p>
                                        <p class="fsize-15 mb-0 me-2 text-end text-muted">15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 px-5">
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/video/modelo_astro.gif') }}"
                                        class="img-fluid rounded-start" alt="Video destacado 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 text-start">
                                        <p class="fsize-15 mb-0 ms-2">NomArtista 
                                        <p class="fsize-15 mb-0 ms-2">NomCanción</p>
                                        <p class="fsize-15 mb-0 me-2 text-end text-muted">15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 px-5">
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/video/modelo_astro.gif') }}"
                                        class="img-fluid rounded-start" alt="Video destacado 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 text-start">
                                        <p class="fsize-15 mb-0 ms-2">NomArtista 
                                        <p class="fsize-15 mb-0 ms-2">NomCanción</p>
                                        <p class="fsize-15 mb-0 me-2 text-end text-muted">15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4 px-5">
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/video/modelo_astro.gif') }}"
                                        class="img-fluid rounded-start" alt="Video destacado 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 text-start">
                                        <p class="fsize-15 mb-0 ms-2">NomArtista 
                                        <p class="fsize-15 mb-0 ms-2">NomCanción</p>
                                        <p class="fsize-15 mb-0 me-2 text-end text-muted">15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 px-5">
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/video/modelo_astro.gif') }}"
                                        class="img-fluid rounded-start" alt="Video destacado 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 text-start">
                                        <p class="fsize-15 mb-0 ms-2">NomArtista 
                                        <p class="fsize-15 mb-0 ms-2">NomCanción</p>
                                        <p class="fsize-15 mb-0 me-2 text-end text-muted">15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 px-5">
                <div class="row">
                    <div class="col">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ asset('img/video/modelo_astro.gif') }}"
                                        class="img-fluid rounded-start" alt="Video destacado 1">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body p-0 text-start">
                                        <p class="fsize-15 mb-0 ms-2">NomArtista 
                                        <p class="fsize-15 mb-0 ms-2">NomCanción</p>
                                        <p class="fsize-15 mb-0 me-2 text-end text-muted">15</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}