{% extends 'base.html.twig' %}
{% block cuerpo %}

<div class="row d-flex justify-content-center singin">
    <div class="col-6 ms-2 border rounded border-primary p-2">
        <div class="row">
            <div class="col justify-content-start">
                {{ form_start(form) }}
                {{ form_widget(form.email, { 'attr': { 'class':'mb-2 form-control', 'placeholder':'Correo electrónico' }}) }}
                    {% if not email_libre %}
                            <p class="text-danger ms-2">Correo electrónico ya en uso.</p>
                    {% endif %}
                {{ form_widget(form.apodo, { 'attr': { 'class':'mb-2 form-control', 'placeholder':'Apodo' }}) }}
                {{ form_widget(form.password, { 'attr': { 'class':'mb-2 form-control', 'placeholder':'Contraseña' }}) }}
                {{ form_widget(form.password2, { 'attr': { 'class':'mb-2 form-control', 'placeholder':'Repite la contraseña' }}) }}
                    {% if not pass_coinciden %}
                        <p class="text-danger ms-2">Las contraseñas no coinciden.</p>
                    {% endif %}
                {{ form_widget(form.imagen, { 'attr': { 'type':'file', 'class':'mb-2 form-control', 'id':'inputGroupFile01', 'required': true }}) }}
                {{ form_widget(form.submit, { 'attr': { 'class':'mb-2 btn btn-primary' }}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}